@page
@model PositionDatabase.Pages.Librarian.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Librarian</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Librarian.Title" class="control-label"></label>
                <input asp-for="Librarian.Title" class="form-control" />
                <span asp-validation-for="Librarian.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Librarian.Description" class="control-label"></label>
                <input asp-for="Librarian.Description" class="form-control" />
                <span asp-validation-for="Librarian.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Librarian.Department" class="control-label"></label>
                <input asp-for="Librarian.Department" class="form-control" />
                <span asp-validation-for="Librarian.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Librarian.ContractType" class="control-label"></label>
                <select asp-for="Librarian.ContractType" class="form-control"></select>
                <span asp-validation-for="Librarian.ContractType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Librarian.StartDate" class="control-label"></label>
                <input asp-for="Librarian.StartDate" class="form-control" />
                <span asp-validation-for="Librarian.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Librarian.PersonId" class="control-label"></label>
                <select asp-for="Librarian.PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
