@page
@model PositionDatabase.Pages.Positions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Position</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Position.Title" class="control-label"></label>
                <input asp-for="Position.Title" class="form-control" />
                <span asp-validation-for="Position.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position.Description" class="control-label"></label>
                <input asp-for="Position.Description" class="form-control" />
                <span asp-validation-for="Position.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position.Department" class="control-label"></label>
                <input asp-for="Position.Department" class="form-control" />
                <span asp-validation-for="Position.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position.ContractType" class="control-label"></label>
                <select asp-for="Position.ContractType"
                        class="form-control">

                    <option selected="selected" value="">Please select</option>
                </select>
            </div>
            <!-- asp-items="Html.GetEnumSelectList<CType>()"-->



            <div class="form-group">
                <label asp-for="Position.PersonId" class="control-label"></label>
                <select asp-for="Position.PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
            </div>



            <div class="form-group">
                <label asp-for="Position.PositionSalaryScales" class="control-label"></label>
                <select multiple="multiple" asp-for="Position.PositionSalaryScales" asp-items="Model.SalaryScaleOptions" class="form-control form-control-sm">
                    <option value="">Select a Salary scale...</option>
                </select>
                <span asp-validation-for="Position.PositionSalaryScales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
